.booking-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
    margin: 2rem auto;
    background-color: white;
    padding: 2rem;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 1rem;
}

.booking-form label {
    color: #4A5E57;
    font-weight: 700;
    margin-bottom: -5px;
}

.booking-form input {
    border: 0;
    padding: 1rem;
    background-color: #E9E9ED;
}

.booking-form select {
    border: 0;
    padding: 1rem;
}

.booking-form input[type="submit"] {
    background-color: #F4CE13;
    padding: 0.5rem;
    width: 50%;
    border-radius: 0.5rem;
    align-self: center;
    color: #4A5E57;
    font-weight: 700;
}

.booking-form input[type="submit"]:hover {
    cursor: pointer;
}

.booking-form input[type="submit"]:disabled {
    background-color: #E9E9ED;
    cursor: default;
}

.reservation-confirmation {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
    margin: 2rem auto;
    background-color: white;
    padding: 2rem;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 1rem;
}