/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* Utility class for displaying navbar back to original height. Had to set explicit height in order to animate. */

/*  COMPONENTS */
.btn {
  background-color: #f4ce12;
  border: none;
  border-radius: 5px;
}

.btn > a {
  padding: 0.5em;
  display: block;
  text-decoration: none;
  color: #0f1311;
}

.btn:hover {
  cursor: pointer;
}

.specials .row:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.specials .card {
  margin: 3rem 0;
}

.specials__heading {
  text-align: center;
  margin: 2rem 0;
}

.specials__btn {
  width: 100%;
  padding: 0.5rem 0;
}

.card {
  background-color: #ecefee;
  width: 100%;
  min-height: 100%;
  max-width: 25rem;
}

.card__image {
  border-radius: 15px;
}

.card__information {
  padding: 1.5em 2em;
}

.card__information > *:not(:last-child) {
  margin-bottom: 1rem;
}

.card__price {
  color: #eca584;
  font-weight: 700;
}

.card__desc {
  line-height: 40px;
}

.card__btn {
  border: none;
  background-color: #EBEFEE;
  display: flex;
  padding: 1rem 0;
  align-items: center;
}

.card__btn:hover {
  background-color: #EBEFEE;
}

.card__btn a {
  display: block;
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

.card__icon {
  width: 25px;
  margin: 0 1rem;
}

/* CONTAINER STYLES */

.container {
  width: 90%;
  margin: 0 auto;
  border: 2px solid red;
}


/* NAVIGATION STYLING */

.nav {
  position: relative;
}

.nav__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em;
}

.nav__header button {
  background-color: #fff;
  border: none;
}

.nav__list {
  background-color: #B0BEB9;
  height: 0;
  overflow: hidden;
  list-style: none;
  margin-top: 0;
  margin-left: -40px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  transition: all 400ms linear;
}

.nav__list > *:not(:last-child) {
  border-bottom: 2px solid #495E57;
}

.nav__item {
  text-align: center;
}

/* animation for showing the nav items. */

.show--navbar {
  height: 533px;
}

.nav__link {
  color: #454B49;
  display: block;
  height: 100%;
  padding: 2em 0;
  font-weight: bold;
}

/* HEADER STYLING */

.header {
  min-height: 50vh;
  background-color: #495e57;
  color: #edefee;
  padding: 0 1em;
}

.header__col-1 {
  padding: 2.5em 0;
}

.header__col-2 {
  padding: 2.5em 0;
}

.header__title {
  color: #b89e13;
}

.header__location {
  margin-bottom: 0.5em;
}

.header__text {
  line-height: 40px;
  margin-bottom: 1em;
}

.header__image {
  border-radius: 30px;
  max-width: 350px;
  width: 100%;
  height: 400px;
  background-image: url(./assets/restaurantfood.jpg);
  background-size: cover;
  background-position: center;
}

main {
  padding: 0 1em;
}

footer {
  padding: 0 1em;
}

@media (min-width: 800px) {
  h1 {
    font-size: 4em;
    line-height: 1em;
  }

  h2 {
    font-size: 2em;
  }

  p {
    font-size: 1.5em;
  }

  /* HEADER STYLES */
  .header > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__col-2 {
    width: 100%;
  }

}

@media (min-width: 1000px) {

  .container {
    width: 960px;
  }

  /* STYLING FOR THE HEADER */
  .header__image {
    position: absolute;
    top: 30%;
    right: 5%;
  }

  /* STYLING FOR THE SPECIALS SECTION */
  .specials {
    margin-top: 10em;
  }

  .specials__heading {
    font-size: 3em;
  }

  .specials__col-1 {
    width: 50%;
  }

  .specials__col-2 {
    width: 50%;
    align-self: center;
  }

  .specials .row:nth-child(2) {
    flex-direction: row;
    align-items: stretch;
    gap: 20px;
  }

  .card__desc {
    font-size: 16px;
  }

  .card__information{
    height: 69%;
  }
}

@media (min-width: 1300px) {

  .header > .container {
    flex-direction: row;
  }

  .header__col-1 {
    width: 35%;
  }
}