/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  line-height: 1.5;
}


/* Utility class for displaying navbar back to original height. Had to set explicit height in order to animate. */

/*  COMPONENTS */
.btn {
  background-color: #f4ce12;
  border: none;
  border-radius: 5px;
}

.btn>a {
  padding: 0.5em;
  display: block;
  text-decoration: none;
  color: #0f1311;
}

.btn:hover {
  cursor: pointer;
}

.specials .row:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.specials .card {
  margin: 3rem 0;
}

.specials__heading {
  text-align: center;
  margin: 2rem 0;
}

.specials__btn {
  width: 100%;
}

.card {
  background-color: #ecefee;
  width: 100%;
  min-height: 100%;
  max-width: 25rem;
  display: flex;
  flex-direction: column;
}

.card__image {
  border-radius: 15px;
}

.card__information {
  padding: 1.5em 2em;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__information>*:not(:last-child) {
  margin-bottom: 1rem;
}

.card__price {
  color: #eca584;
  font-weight: 700;
}

.card__desc {
  line-height: 40px;
}

.card__btn-wrapper {
  margin-top: auto;
}

.card__btn {
  border: none;
  background-color: #EBEFEE;
  display: flex;
  padding: 1rem 0;
  align-items: center;
}

.card__btn:hover {
  background-color: #EBEFEE;
}

.card__btn a {
  display: block;
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

.card__icon {
  width: 25px;
  margin: 0 1rem;
}

/* CONTAINER STYLES */

.container {
  width: 90%;
  margin: 0 auto;
}


/* NAVIGATION STYLING */

.nav {
  position: relative;
}

.nav__header > .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em;
}

.nav__header button {
  background-color: #fff;
  border: none;
}

.nav__list--mobile {
  background-color: #B0BEB9;
  height: 0;
  overflow: hidden;
  list-style: none;
  margin-top: 72px;
  margin-left: -40px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  transition: all 400ms linear;
}

.nav__list--footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 20px;
}

.nav__list--footer .nav__item {
  list-style: none;
}

.nav__list--footer .nav__link {
  padding: 0;
}

.nav__list--footer .nav__item a {
  text-decoration: none;
  color: #fff;
}

.nav__list--mobile>*:not(:last-child) {
  border-bottom: 2px solid #495E57;
}

.nav__item {
  text-align: center;
}

a.active {
  color: #b89e13;
}

.nav__list--desktop {
  display: none;
}

.nav__item a {
  text-decoration: none;
}

/* animation for showing the nav items. */

.show--navbar {
  height: 533px;
}

.nav__link {
  color: #454B49;
  display: block;
  height: 100%;
  padding: 2em 0;
  font-weight: bold;
}

/* HEADER STYLING */

.header {
  background-color: #495e57;
  color: #edefee;
  padding: 0 1em;
}

.header__col-1 {
  padding: 2.5em 0;
}

.header__col-2 {
  padding: 2.5em 0;
  position: relative;
}

.header__title {
  color: #b89e13;
}

.header__location {
  margin-bottom: 0.5em;
}

.header__text {
  line-height: 40px;
  margin-bottom: 1em;
}

.header__image {
  border-radius: 30px;
  max-width: 350px;
  width: 100%;
  height: 400px;
  background-image: url(./assets/restaurantfood.jpg);
  background-size: cover;
  background-position: center;
}

footer {
  padding: 0 1em;
}

/* STYLING FOR TESTIMONIAL CARD */

.testimonials h2 {
  margin-bottom: 1.6rem;
  text-align: center;
}

.testimonials__row {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.testimonials__card {
  background-color: #C1D8D0;
  padding: 1.2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.testimonials__card>p {
  margin-bottom: 2rem;
  font-style: italic;
}

.testimonials__card--author {
  display: flex;
  align-items: center;
  gap: 20px;
}

.testimonials__card--portrait {
  width: 4rem;
}

/* LOCATION SECTION STYLES */

.location {
  padding: 3.2rem 0;
}


.location h2 {
  color: #4A5E57;
}

.location h3 {
  color: #ED9972;
}

.location__row {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.location__col {
  position: relative;
}

.location__col > img {
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
}

/* FOOTER STYLES */
.footer {
  background-color: #4A5E57;
  padding: 3rem 0;
  color: #fff;
}

.footer__row {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__row img {
  width: 100%;
}

#footer__contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#footer__social .row {
  display: flex;
  gap: 20px;
  padding: 20px 0;
}

#footer__social img {
  width: 25px;
  height: auto;
}

@media (min-width: 750px) {
  .footer__row img {
    height: 150px;
    object-fit: cover;
    object-position: center;
  }
}

@media (min-width: 800px) {

  /* HEADER STYLES */
  .header>.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__col-2 {
    width: 100%;
  }

}

@media (min-width: 1000px) {

  .container {
    width: 960px;
  }

  /* STYLING FOR NAV */

  .nav__header > .container {
    padding: 0;
  }

  .nav button {
    display: none;
  }

  .nav__list--mobile {
    display: none;
  }

  .nav__list--desktop {
    display: flex;
    width: 65%;
    justify-content: space-between;
  }

  .nav__item {
    text-align: left;
    list-style: none;
  }

  /* STYLING FOR THE HEADER */

  .header {
    padding: 2rem 0;
  }

  .header > .container {
    flex-direction: row;
  }

  .header__image {
    position: absolute;
    right: 0;
    bottom: -16rem;
  }

  /* STYLING FOR THE SPECIALS SECTION */
  .specials {
    margin-top: 10em;
  }

  .specials__heading {
    font-size: 3em;
  }

  .specials__col-1 {
    width: 50%;
  }

  .specials__col-2 {
    width: 50%;
    align-self: center;
    text-align: right;
  }

  .specials__btn {
    max-width: 150px;
  }

  .specials .row:nth-child(1) {
    display: flex;
    flex-direction: row;
  }

  .specials .row:nth-child(2) {
    flex-direction: row;
    align-items: stretch;
    gap: 20px;
  }

  /* TESTIMONIALS SECTION */

  .testimonials {
    background-color: #495e57;
    padding: 3.2rem 0;
  }

  .testimonials h2 {
    color: #B99D12;
  }

  .testimonials p {
    font-size: 1rem;
  }

  .testimonials__row {
    flex-direction: row;
    gap: 20px;
  }

  .testimonials__card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* LOCATION SECTION STYLES */
  .location__row {
    flex-direction: row;
  }

  .location__col {
    width: 50%;
  }

  .location__col > img {
    position: absolute;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    height: 250px;
    object-fit: cover;
    object-position: top center;
  }

  .location__image1 {
    top: 10rem;
    right: 0rem;
    z-index: 0;
  }

  .location__image2 {
    top: 0;
    left: 0;
    z-index: 5;
  }

  /* FOOTER STYLING */
  .footer__row {
    flex-direction: row;
    justify-content: space-between;
  }

  /* .footer__row .col {
    outline: 2px solid red;
  } */

  .footer__row img {
    width: 300px;
    height: 600px;
  }
}

@media (min-width: 1300px) {

  .header>.container {
    flex-direction: row;
  }

}